<a href="https://colab.research.google.com/github/Jom123410/280222/blob/master/Chapter%204%20Activity04_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
s = pd.Series(['pandas is awesome'])
s

0    pandas is awesome
dtype: object

In [17]:
s.str.split()

0    [pandas, is, awesome]
dtype: object

In [18]:
s.str.replace('pandas', 'python')

0    python is awesome
dtype: object

In [19]:
s.str.count('a')

0    3
dtype: int64

In [20]:
s.str.len()

0    17
dtype: int64

In [21]:
s.str.capitalize()

0    Pandas is awesome
dtype: object

In [22]:
s.str.islower()

0    True
dtype: bool

In [23]:
s = pd.to_datetime(pd.Series(['1990-05-31',\
                              '1995-06-05',\
                              '2020-09-09']))\
  - pd.to_datetime('2020-01-01')
s

0   -10807 days
1    -8976 days
2      252 days
dtype: timedelta64[ns]

In [24]:
s.dt.total_seconds()

0   -933724800.0
1   -775526400.0
2     21772800.0
dtype: float64

In [25]:
s.dt.to_pytimedelta()

array([datetime.timedelta(days=-10807), datetime.timedelta(days=-8976),
       datetime.timedelta(days=252)], dtype=object)

In [26]:
s.dt.components

    days  hours  minutes  seconds  milliseconds  microseconds  nanoseconds
0 -10807      0        0        0             0             0            0
1  -8976      0        0        0             0             0            0
2    252      0        0        0             0             0            0